# Created by .ignore support plugin (hsz.mobi)
### wu template
.gradle
build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
classes

util/weixin/src/test/resources/application.yml
framework/starter-logging/src/test/resources/application-test.yml
util/sms/src/test/resources/application.yml