# Created by .ignore support plugin (hsz.mobi)
### wu template
.gradle
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
classes

/wintrue
/buildSrc/src/main/kotlin/top
/buildSrc/src/main/resources/META-INF
/util/weixin/src/test/resources/application.yml
/framework/starter-logging/src/test/resources/application-test.yml
/util/sms/src/test/resources/application.yml
/util/mobile-query/src/test/resources/application.yml
/util/weather/src/test/resources/application.yml
/util/jpush/src/test/resources/application.yml
