# Created by .ignore support plugin (hsz.mobi)
### wu template
.gradle
build

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
classes
.gradletasknamecache


link.sh

/web/src/test/resources/application-test.yml
/tools/weixin/src/test/resources/application.yml
/tools/sms/src/test/resources/application.yml
/tools/mobile-query/src/test/resources/application.yml
/tools/weather/src/test/resources/application.yml
/tools/jpush/src/test/resources/application.yml
/tools/qvod/src/test/resources/application.yml
/tools/qvod/src/test/resources/test.mp4
/tools/qvod/src/test/resources/test.html
/tools/qvod/src/test/resources/upload.html
/tools/rapidauth/src/test/resources/application.yml
/tools/amap/src/test/resources/application.yml